            <div class="section text-gray" id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8" style="text-align:right;">
                            <small>&copy; 2021 Seonwook Park.
                            Template by <a href=" visualdialog.org" class="external"> visualdialog.org</a>.</small>
                        </div>
                    </div>
                </div>
            </div>
