            <hr>
            <div class="section text-gray" id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12" style="text-align:right;">
                            <small>&copy; 2021 Seonwook Park.
                            Template by <a href=" visualdialog.org" class="external"> visualdialog.org</a>.</small>
                        </div>
			<br><br>
                    </div>
                </div>
            </div>
