<style>
  #year-header {
    border: none;
    display: block;
    width: 100%;
    background: #eaebea;
  }
  #year-header ul {
    display: block;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    text-align: center;
  }
  #year-header ul li {
    display: inline-block;
    list-style: none;
  }
  #year-header ul li a {
    display: block;
    text-decoration: none;
    border: none;

    padding: 0 1.7em;
    height: 3.2em;
    line-height: 3.2em;
    vertical-align: middle;

    font-family: Helvetica,Arial,sans-serif;
    font-size: 1.0em;
    font-weight: 400;
    color: #444;
  }
  @media (max-width:1000px) {
    #year-header ul li a {
      font-size: 0.8em;
    }
  }
  #year-header ul li a:hover {
    background: #dddedd;
    color: #000;
    transition: .5s;
  }
</style>

<div id="year-header">
  <ul>
    <li><a href="/2019/">2019</a></li>
    <li>|</li>
    <li><a href="https://openeyes-workshop.github.io/" target="_blank">2020</a></li>
    <li>|</li>
    <li><a href="/2021/">2021</a></li>
    <li>|</li>
    <li><a href="/2022/">2022</a></li>
  </ul>
</div>
